<launch>

  <node name="fake_kinect2_stream" pkg="rosbag" type="play"
    args="-l /home/dylan2/unknown_pick_ws/src/unknown_pick/testdata/bagfile/2018-12-10-15-15-44.bag"
  />

<!-- /home/dylan2/unknown_pick_ws/src/unknown_pick/testdata/bagfile/2018-12-10-15-15-44.bag -->
<!-- /home/dylan2/unknown_pick_ws/src/unknown_pick/testdata/bagfile/2018-12-10-15-16-23.bag -->

</launch>