<!-- launch in virtualenv 'mask_rcnn' -->

<launch>
  <arg name="is_use_fake_kinect2" default="false" />
  <arg name="is_use_fake_mask_generator" default="false" />


  <!-- **************************************** -->
  
  <!-- kinect2 -->
  <node name="fake_kinect2_publisher" pkg="unknown_pick" type="fake_kinect2.py" if="$(arg is_use_fake_kinect2)" output="screen" />

  <!-- mask generator -->
  <node name="mask_generator" pkg="unknown_pick" type="fake_mask_generator.py" if="$(arg is_use_fake_mask_generator)" output="screen"/>
  <node name="mask_generator" pkg="unknown_pick" type="mask_generator.py" unless="$(arg is_use_fake_mask_generator)" respawn="true" output="screen" >
  </node>

</launch>